<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
    />
    <link rel="stylesheet" href="timeline.css" />
    <title>CDI | Contact us</title>
  </head>
  <body style="display: grid">
    <header>
      <a href="/home"><img src="images/logo.png" alt="" /></a>
      <nav class="navigation">
        <a href="/about-us">About</a>
        <a href="/works">Work</a>
        <a href="/contact-us">Contact</a>
        <a href="/tr">TR</a>
        <a href="/en">EN</a>
        <a href="/de">DE</a>
      </nav>
    </header>
    <footer>
      <div class="timeline">
        <div class="timeline-item">
          <div class="timeline-marker">
            <div class="marker-number">1</div>
          </div>
          <hr />
          <div class="timeline-content">
            <p class="paragraf">Goals and challenges</p>
            <p>
              İşletmenizin faaliyet gösterdiği toplumun kültürel, sosyal ve
              demografik özelliklerini anlamak ve bu faktörlerin işletmeye nasıl
              etki ettiğini analiz etmek için kullanılan bir stratejik planlama
              yaklaşımıdır. Bu metodolojiyi uygulamak için aşağıdaki adımları
              takip edebilirsiniz:
              <br />
              1. İşletmenizin hizmet verdiği bölgenin kültürel ve demografik
              özelliklerini belirleyin.
              <br />
              2. Toplumun genel davranış ve alışkanlıklarını anlamak için pazar
              araştırması yapın.
              <br />
              3. Toplumun sosyal ve kültürel normlarını, inançlarını ve
              değerlerini analiz edin.
              <br />
              4. Toplumun siyasi, ekonomik ve teknolojik ortamını değerlendirin.
              <br />
              5. İşletmenizin bu sosyo-kültürel faktörlere nasıl uyum
              sağlayabileceğini belirleyin.
              <br />

              Bu metodoloji, işletmenizin faaliyet gösterdiği toplumun kültürel
              ve sosyal özelliklerini anlayarak, müşterilerinizin ihtiyaçlarını
              daha iyi anlamaya yardımcı olabilir. Ayrıca, işletmenizin bu
              faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri
              memnuniyetini artırmaya ve işletmenizin performansını
              iyileştirmeye yardımcı olabilir. bu faktörlere nasıl uyum
              sağlayabileceğini belirleyerek, müşteri memnuniyetini artırmaya ve
              işletmenizin performansını iyileştirmeye yardımcı olabilir.bu
              faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri
              memnuniyetini artırmaya ve işletmenizin performansını
              iyileştirmeye yardımcı olabilir.
            </p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-marker">
            <div class="marker-number">2</div>
          </div>
          <div class="timeline-content">
            <p class="paragraf">Immediate environment</p>

            <p>
              İşletmenizin faaliyet gösterdiği toplumun kültürel, sosyal ve
              demografik özelliklerini anlamak ve bu faktörlerin işletmeye nasıl
              etki ettiğini analiz etmek için kullanılan bir stratejik planlama
              yaklaşımıdır. Bu metodolojiyi uygulamak için aşağıdaki adımları
              takip edebilirsiniz:
              <br />
              1. İşletmenizin hizmet verdiği bölgenin kültürel ve demografik
              özelliklerini belirleyin.
              <br />
              2. Toplumun genel davranış ve alışkanlıklarını anlamak için pazar
              araştırması yapın.
              <br />
              3. Toplumun sosyal ve kültürel normlarını, inançlarını ve
              değerlerini analiz edin.
              <br />
              4. Toplumun siyasi, ekonomik ve teknolojik ortamını değerlendirin.
              <br />
              5. İşletmenizin bu sosyo-kültürel faktörlere nasıl uyum
              sağlayabileceğini belirleyin.
              <br />

              Bu metodoloji, işletmenizin faaliyet gösterdiği toplumun kültürel
              ve sosyal özelliklerini anlayarak, müşterilerinizin ihtiyaçlarını
              daha iyi anlamaya yardımcı olabilir. Ayrıca, işletmenizin bu
              faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri
              memnuniyetini artırmaya ve işletmenizin performansını
              iyileştirmeye yardımcı olabilir. bu faktörlere nasıl uyum
              sağlayabileceğini belirleyerek, müşteri memnuniyetini artırmaya ve
              işletmenizin performansını iyileştirmeye yardımcı olabilir.bu
              faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri
              memnuniyetini artırmaya ve işletmenizin performansını
              iyileştirmeye yardımcı olabilir.
            </p>
          </div>
        </div>
        <div class="timeline-item">
          <div class="timeline-marker">
            <div class="marker-number">3</div>
          </div>
          <div class="timeline-content">
            <p class="paragraf">Socio-cultural context</p>

            <p>
              İşletmenizin faaliyet gösterdiği toplumun kültürel, sosyal ve
              demografik özelliklerini anlamak ve bu faktörlerin işletmeye nasıl
              etki ettiğini analiz etmek için kullanılan bir stratejik planlama
              yaklaşımıdır. Bu metodolojiyi uygulamak için aşağıdaki adımları
              takip edebilirsiniz:
              <br />
              1. İşletmenizin hizmet verdiği bölgenin kültürel ve demografik
              özelliklerini belirleyin.
              <br />
              2. Toplumun genel davranış ve alışkanlıklarını anlamak için pazar
              araştırması yapın.
              <br />
              3. Toplumun sosyal ve kültürel normlarını, inançlarını ve
              değerlerini analiz edin.
              <br />
              4. Toplumun siyasi, ekonomik ve teknolojik ortamını değerlendirin.
              <br />
              5. İşletmenizin bu sosyo-kültürel faktörlere nasıl uyum
              sağlayabileceğini belirleyin.
              <br />

              Bu metodoloji, işletmenizin faaliyet gösterdiği toplumun kültürel
              ve sosyal özelliklerini anlayarak, müşterilerinizin ihtiyaçlarını
              daha iyi anlamaya yardımcı olabilir. Ayrıca, işletmenizin bu
              faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri
              memnuniyetini artırmaya ve işletmenizin performansını
              iyileştirmeye yardımcı olabilir. bu faktörlere nasıl uyum
              sağlayabileceğini belirleyerek, müşteri memnuniyetini artırmaya ve
              işletmenizin performansını iyileştirmeye yardımcı olabilir.bu
              faktörlere nasıl uyum sağlayabileceğini belirleyerek, müşteri
              memnuniyetini artırmaya ve işletmenizin performansını
              iyileştirmeye yardımcı olabilir.
            </p>
          </div>
        </div>
      </div>
    </footer>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <ul>
              <li><a href="#">Brand positioning</a></li>
              <li><a href="#">Brand Naming</a></li>
              <li><a href="#">Brand Values / Mission / Vision</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <ul>
              <li><a href="#">+90 (212) 236 91 42</a></li>
              <li><a href="#">+90 (212) 236 91 43</a></li>
              <li><a href="#">hello@cdi.com.tr</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <ul class="social">
              <li><a href="#">ınstagram</a></li>
              <li><a href="#">spotify</a></li>
              <li><a href="#">linkedin</a></li>
              <li><a href="#">behance</a></li>
              <li><a href="#">vimeo</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <ul>
              <li><a href="#">Imprint</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">English</a></li>
              <li><a href="#">Deutsch</a></li>
              <li><a href="#">Turkish</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <div>
      <img src="images/hero.png" alt="" />
    </div>
  </body>
</html>
