<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ammar's shoes</title>

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



  <!-- custom css file link  -->
  <link rel="stylesheet" href="style.css">
  <style type="text/css">
    @font-face {
      font-family: Roboto;
      src: url("chrome-extension://mcgbeeipkmelnpldkobichboakdfaeon/css/Roboto-Regular.ttf");
    }
  </style>
</head>

<body>
  <!-- header section starts  -->

  <header>
    <a href="#" class="logo"><img src="/images/logo.png" alt=""></i>Ammar's <span>shoes</span></a>

    <div id="menu-bar" class="fas fa-bars"></div>

    <nav class="navbar">
      <a href="/home">Home</a>
      <a href="#">All shoes</a>
      <a href="/user#speciality">Speciality</a>
      <a href="/user#popular">Popular</a>
      <a href="/user#Man">Man</a>
      <a href="/user#Women">Women</a>
      <a href="/order#order">Order</a>
    </nav>
  </header>


  <section class="popular" id="popular">
    <center>
      <div class="inputBoxs">
        <input class="filter-input" name="title" id="search-box" type="text" placeholder="Enter Shoes Name">
      </div>
    </center>



    <div class="box-container">
      <div class="box">
        <span class="price">$22</span>
        <img src="images/shoes13.webp" alt="shoes1.png">
        <h3>Nike</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$26</span>
        <img src="images/shoes14.webp" alt="shoes2.png">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes15.webp" alt="shoes3.png">
        <h3> Puma</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes4.webp" alt="shoes4.webp">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20</span>
        <img src="images/shoes5.webp" alt="shoes5.webp">
        <h3>Kinetix</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>

    </div>

    <br><br>

    <div class="box-container">
      <div class="box">
        <span class="price">$22</span>
        <img src="images/shoes6.webp" alt="shoes6.webp">
        <h3>Nike</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$26</span>
        <img src="images/shoes7.jpg" alt="shoes7.jpg">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes8.webp" alt="shoes8.webp">
        <h3> Puma</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes9.webp" alt="shoes9.webp">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20</span>
        <img src="images/shoes10.webp" alt="shoes10.webp">
        <h3>Kinetix</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>

    </div>


<br><br>

    <div class="box-container">
      <div class="box">
        <span class="price">$22</span>
        <img src="images/shoes3.png" alt="shoes12.webp">
        <h3>Nike</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$26</span>
        <img src="images/shoes2.png" alt="shoes13.webp">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes3.png" alt="shoes13.webp">
        <h3> Puma</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes15.webp" alt="shoes15.webp">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20</span>
        <img src="images/shoes16.webp" alt="shoes16.webp">
        <h3>Kinetix</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>

    </div>



    </div>


    </div>
  </section>

  <script>
    // Select the input element and cards container
    const input = document.querySelector('input');
    const cardContainer = document.querySelector('.box-container');

    // Add event listener to input element
    input.addEventListener('input', filterCards);

    function filterCards() {
      // Get the input value
      const inputValue = input.value.toLowerCase();

      // Get all the cards
      const cards = cardContainer.querySelectorAll('.box');

      // Loop through the cards and hide the ones that don't match the input value
      cards.forEach(card => {
        const cardName = card.querySelector('h3').textContent.toLowerCase();
        if (cardName.indexOf(inputValue) !== -1) {
          card.style.display = 'block';
        } else {
          card.style.display = 'none';
        }
      });
    }
  </script>

  <!-- custom js file link  -->
</body>
<script src="script.js"></script>
</html>
