<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="style.css">
    <title>CDI | Home</title>
</head>
<body>

    <header>
          <a href=""><img src="images/logo.png" alt=""></a>
        <nav class="navigation">
            <a href="/about-us">About</a>
            <a href="/works">Work</a>
            <a href="/contact-us">Contact</a>
            <a href="/tr">TR</a>
            <a href="/en">EN</a>
            <a href="/de">DE</a>

        </nav>
    </header>


    <section class="main">
        <div class="main-div">
            <h4>Communication Design Ideas (CDI) is a multi-disciplinary, independently owned design studio based in Istanbul / Berlin.
              <br><br>
              With our interdisciplinary work system and a customer portfolio ranging from independent founders to established brands, we
              provide services to all interaction areas that make up the experiences of brands.</h4>

                <a class="works" href="/works">Works</a>
            </div>

        </div>
    </section>



    <footer class="footer">
        <div class="container">
         <div class="row">
           <div class="footer-col">
             <ul>
               <li><a href="#">Barbaros Bulvarı,</a></li>
               <li><a href="#">Akdoğan Sk. No:1, 4353</a></li>
               <li><a href="#">Beşiktaş / İstanbul</a></li>
             </ul>
           </div>
           <div class="footer-col">
             <ul>
               <li><a href="#">+90 (212) 236 91 42</a></li>
               <li><a href="#">+90 (212) 236 91 43</a></li>
               <li><a href="#">hello@cdi.com.tr</a></li>

             </ul>
           </div>
           <div class="footer-col">
            <ul class="social">
              <li><a href="#">ınstagram</a></li>
              <li><a href="#">spotify</a></li>
              <li><a href="#">linkedin</a></li>
              <li><a href="#">behance</a></li>
              <li><a href="#">vimeo</a></li>

            </ul>
          </div>
           <div class="footer-col">
             <ul>
               <li><a href="#">Imprint</a></li>
               <li><a href="#">Privacy policy</a></li>

             </ul>
           </div>
           <div class="footer-col">
            <ul>
              <li><a href="#">Language</a></li>
              <li><a href="#">English</a></li>
              <li><a href="#">Deutsch</a></li>
              <li><a href="#">Turkish</a></li>

            </ul>
          </div>

         </div>
        </div>
     </footer>



   <section style="height: 50px; display: flex; align-items: center; justify-content: space-between; font-family: Poppins; background-color: #f04922; padding: 0 3.5em ;">
    <div>Work Width Us</div>
    <div>X</div>
  </section>


  <div style="padding: 0px 50px; margin-top: 70px;">
    <p>Works</p>
    <hr>
  </div>



    <section class="projects" id="projects">
        <div class="content">
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work1.png" />
                </div>
                <div class="project-info">
                    <p class="project-category">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, mollitia.</p>
                    <strong class="project-title">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work2.png" />
                </div>
                <div class="project-info">
                    <p class="project-category">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam, voluptatum.</p>
                    <strong class="project-title">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work3.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <strong class="project-title">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work4.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <strong class="project-title">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work5.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                    <strong class="project-title">
                        <span>Lorem ipsum dolor sit amet.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work6.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <strong class="project-title">
                        <span>Lorem, ipsum dolor.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work7.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <strong class="project-title">
                        <span>Lorem, ipsum dolor.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work8.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <strong class="project-title">
                        <span>Lorem, ipsum dolor.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
            <div class="project-card">
                <div class="project-image">
                    <img src="images/work9.png" />
                </div>
                <div class="project-info">
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <strong class="project-title">
                        <span>Lorem, ipsum dolor.</span>
                    </strong>
                      <p class="project-category2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, autem?</p>
                    <a href="">See the project</a>

                </div>
            </div>
        </div>
    </section>



</body>
</html>
