<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ammar's Shoes user page | Stylish and Comfortable Footwear</title>
  <meta name="description"
    content="Ammar's Shoes offers a wide range of stylish and comfortable footwear for men and women. Browse our collection today and step up your style game.">
  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

  <!-- custom css file link  -->
  <link rel="stylesheet" href="style.css">

  <!-- Open graph meta tags for better social media sharing -->
  <meta property="og:title" content="Ammar's Shoes | Stylish and Comfortable Footwear">
  <meta property="og:description"
    content="Ammar's Shoes offers a wide range of stylish and comfortable footwear for men and women. Browse our collection today and step up your style game.">
  <meta property="og:image" content="https://www.example.com/images/logo.png">
  <meta property="og:url" content="https://www.example.com">
  <meta property="og:site_name" content="Ammar's Shoes">
  <meta property="og:type" content="website">

  <!-- Twitter card meta tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="Ammar's Shoes | Stylish and Comfortable Footwear">
  <meta name="twitter:description"
    content="Ammar's Shoes offers a wide range of stylish and comfortable footwear for men and women. Browse our collection today and step up your style game.">
  <meta name="twitter:image" content="https://www.example.com/images/logo.png">
</head>



<body>



  <header>
    <a href="#" class="logo"><img src="/images/logo.png" alt="">Ammar's <span>shoes</span></a>

    <div id="menu-bar" class="fas fa-bars" style="border: none;"></div>

    <nav class="navbar">
      <a href="#home">Home</a>
      <a href="/all-shoes" target="_blank">All shoes</a>
      <a href="#speciality">Speciality</a>
      <a href="#popular">Popular</a>
      <a href="#Man">Man</a>
      <a href="#Women">Women</a>
      <a href="#order">Contact us</a>




      <div class="dropdown">
        <button class="dropdown-button">
          <a href="#" class="login1"><i class="fas fa-shopping-basket"></i> My basket</a>
        </button>
        <div class="dropdown-content" id="cart-items">
        </div>

      </div>



      <div class="dropdown">
        <button class="dropdown-button">
          <a href="#" class="login1"><i class="fas fa-user"></i>
            <%= user.username %>
          </a>
        </button>
        <div class="dropdown-content" style="right: -100px;">
          <a href="#"> <i class="fas fa-user"></i> Username: <%= user.username %></a>
          <a href="#">Email: <%= user.email %></a>
          <a href="/logout">Sign out</a>
        </div>
      </div>
  </header>





  <!-- header section ends -->

  <!-- home section starts  -->

  <section class="home" id="home">
    <div class="content">
      <h3>Ammar's <span>shoes</span></h3>
      <p>
        Ammar's Shoes, presents a minimalistic and sleek design that appeals to shoe enthusiasts.
        Made with the finest materials, our shoes are not only comfortable and durable,
        but also offer a stylish look for everyday wear
      </p>
      <a href="#" class="creat">Find your Shoes</a>
    </div>

    <div class="image">
      <img src="images/hero-image1.png" alt="">
    </div>
  </section>

  <!-- home section ends -->

  <!-- speciality section starts  -->

  <section class="speciality" id="speciality">
    <h1 class="heading">our <span>speciality</span></h1>

    <div class="box-container">
      <div class="box">
        <img class="image" src="images/shoes1.png" alt="">
        <div class="content">
          <img src="" alt="">
          <h3>Nike</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            inventore neque amet ipsa tenetur voluptates aperiam tempore
            libero labore aut.
          </p>
        </div>
      </div>
      <div class="box">
        <img class="image" src="images/shoes2.png" alt="">
        <div class="content">
          <img src="" alt="">
          <h3>nike</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            inventore neque amet ipsa tenetur voluptates aperiam tempore
            libero labore aut.
          </p>
        </div>
      </div>
      <div class="box">
        <img class="image" src="images/shoes3.png" alt="">
        <div class="content">
          <img src="" alt="">
          <h3>Reebok</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            inventore neque amet ipsa tenetur voluptates aperiam tempore
            libero labore aut.
          </p>
        </div>
      </div>
      <div class="box">
        <img class="image" src="images/shoes4.webp" alt="">
        <div class="content">
          <img src="images/s-4.png" alt="">
          <h3>Kinetix</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            inventore neque amet ipsa tenetur voluptates aperiam tempore
            libero labore aut.
          </p>
        </div>
      </div>
      <div class="box">
        <img class="image" src="images/shoes5.webp" alt="">
        <div class="content">
          <img src="images/s-5.png" alt="">
          <h3> Puma</h3>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
            inventore neque amet ipsa tenetur voluptates aperiam tempore
            libero labore aut.
          </p>
        </div>
      </div>

    </div>
  </section>

  <!-- speciality section ends -->

  <!-- popular section starts  -->

  <section class="popular" id="popular">
    <h1 class="heading">most <span>popular</span> shoess</h1>

    <div class="box-container">
      <div class="box">
        <span class="price">$22</span>
        <img src="images/shoes6.webp" alt="">
        <h3>Nike</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$26</span>
        <img src="images/shoes7.jpg" alt="">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes8.webp" alt="">
        <h3> Puma</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20 </span>
        <img src="images/shoes9.webp" alt="">
        <h3> Adidas</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>
      <div class="box">
        <span class="price">$20</span>
        <img src="images/shoes10.webp" alt="">
        <h3>Kinetix</h3>
        <div class="stars">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="far fa-star"></i>
        </div>
        <a href="#" class="creat">Add to Cart</a>
      </div>

    </div>
  </section>

  <!-- popular section ends -->

  <!-- steps section starts  -->

  <div class="step-container">
    <h1 class="heading">how it <span>works</span></h1>

    <section class="steps">
      <div class="box">
        <img src="images/shoes10.webp" alt="">
        <h3>choose your favorite shoes</h3>
      </div>
      <div class="box">
        <img src="images/shoes 11.webp" alt="">
        <h3>free and fast delivery</h3>
      </div>
      <div class="box">
        <img src="images/shoes12.webp" alt="">
        <h3>easy payments methods</h3>
      </div>
      <div class="box">
        <img src="images/shoes13.webp" alt="">
        <h3>and finally, enjoy your shoes</h3>
      </div>
    </section>
  </div>

  <!-- steps section ends -->

  <!-- gallery section starts  -->

  <section class="gallery" id="Man">
    <h1 class="heading">Men <span> shoes </span></h1>

    <div class="box-container">
      <div class="box">
        <img src="/images/12.jpg" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/1.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/2.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/3.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/4.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
    </div>
  </section>

  <section class="gallery" id="Women">
    <h1 class="heading">Women <span> shoes </span></h1>

    <div class="box-container">
      <div class="box">
        <img src="/images/5.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/6.jpg" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/7.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/8.webp" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
      <div class="box">
        <img src="/images/9.jpg" alt="">
        <div class="content">
          <h3> shoes</h3>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit.
            Deleniti, ipsum.
          </p>
          <a href="#" class="creat">Add to Cart</a>
        </div>
      </div>
    </div>
  </section>




  <!-- gallery section ends -->

  <!-- review section starts  -->



  <!-- review section ends -->

  <!-- order section starts  -->

  <section class="order" id="order">
    <h1 class="heading"><span>Contact</span> Us</h1>

    <div class="row">
      <div class="image">
        <img src="images/form-img.png" alt="">
      </div>

      <form method="POST" action="/home">
        <div class="inputBox">
          <input name="title" id="title" type="text" placeholder="name" required>
          <input name="summary" id="summary" type="email" placeholder="email" required>
        </div>

        <div class="inputBox">
          <input name="number" id="number" type="number" placeholder="number" required>
        </div>

        <textarea placeholder="Summary" name="body" id="body" cols="30" rows="10" required></textarea>

        <input type="submit" value="Send" class="creat">
      </form>
    </div>
  </section>

  <!-- order section ends -->

  <!-- footer section  -->

  <section class="footer">
    <div class="share">
      <a href="#" class="creat">facebook</a>
      <a href="#" class="creat">twitter</a>
      <a href="#" class="creat">instagram</a>
      <a href="#" class="creat">pinterest</a>
      <a href="#" class="creat">linkedin</a>
    </div>

    <h1 class="credit">
      created by <span> Ammar ALibrahim </span> | all rights reserved!
    </h1>
  </section>
  <a href="#home" class="fas fa-angle-up" id="scroll-top"></a>

</body>
<script src="app.js"></script>
<script src="script.js"></script>
<script src="mybasket.js"></script>

</html>
